@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
body {
  font-family: Roboto, sans-serif;
  margin: 0;
  padding: 0;
}
.header {
  background-color: #1F2937;
}
.head {
  display: flex;
  color: white;
  justify-content: space-around;
  align-items: center;
}
.header-logo {
  font-size: 24px;
  color: #F9FAF8;
  display: flex;
}
.header-links {
  font-size: 18px;
  font-size: #E5E7EB;
  display: flex;
  padding: 36px;
  gap: 16px;
}
.hero {
  display: flex;
  justify-content: space-evenly;
  height: 400px;
  align-items: center;
}
.hero-text h1 {
  font-size: 48px;
  font-weight: 700;
  color: #F9FAF8;
  margin: 0;
}
.hero-text p {
  margin: 0;
  font-size: 18px;
  color: #E5E7EB;
  margin-bottom: 5px;
}
.hero-text {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  flex: 0.5;
}
.hero button {
  border: 0;
  border-radius: 5px;
  color: #F9FAF8;
  font-weight: 700;
  background-color: #3882F6;
  width: 100px;
  height: 30px;
}
.information {
  display: flex;
  flex-direction: column;
  padding: 16px;
}
#information-header {
  display: flex;
  justify-content: center;
}
.box-container {
  width: 180px;
  flex-wrap: wrap;
  display: flex;
  padding: 24px;

}
.box-container p {
  color: #1F2937;
  margin: 5px;
}
.box {
  border-radius: 10px;
  width: 180px;
  height: 170px;
  border: 3px solid #3882F6;
}
.information-wrapper {
  display: flex;
  justify-content: center;
}
.quote-section {
  background-color: #E5E7EB;
  font-size: 36px;
  font-style: italic;
  color: #1F2937;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.quote-text {
  width: 800px;
}
.quote-text div {
  display: flex;
  justify-content: flex-end;
  font-weight: 700;
}
.call-to-action {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
}
.call-to-action-banner {
  background-color: #3882F6;
  width: 850px;
  height: 120px;
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: space-around;
  border-radius: 5px;
  color: #F9FAF8;
}
.cta-bold {
  font-weight: 700;
}
.cta-button button {
  font-weight: 700;
  color: #F9FAF8;
  background-color: #3882F6;
  border: 1px solid #F9FAF8;
  width: 90px;
  height: 30px;
  border-radius: 5px;
}
.footer {
  background-color: #1F2937;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #E5E7EB;
}