@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
body {
  font-family: Roboto, sans-serif;
  margin: 0;
  padding: 0;
}
.header {
  background-color: #1F2937;
}
.head {
  display: flex;
  color: white;
  justify-content: space-around;
  align-items: center;
}
.header-logo {
  font-size: 24px;
  color: #F9FAF8;
  display: flex;
}
.header-links {
  font-size: 18px;
  font-size: #E5E7EB;
  display: flex;
  padding: 36px;
  gap: 16px;
}
.hero {
  display: flex;
  justify-content: space-evenly;
  height: 400px;
  align-items: center;
}
.hero-text h1 {
  font-size: 48px;
  font-weight: 700;
  color: #F9FAF8;
  margin: 0;
}
.hero-text p {
  margin: 0;
  font-size: 18px;
  color: #E5E7EB;
  margin-bottom: 5px;
}
.hero-text {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  flex: 0.5;
}
.hero button {
  border: 0;
  border-radius: 5px;
  color: #F9FAF8;
  font-weight: 700;
  background-color: #3882F6;
  width: 100px;
  height: 30px;
}